section article{
    background-color: #1a5ad4;
    padding-bottom: 10px;
}
section #text{
    border-top: 2px solid limegreen;
}
section #text p{
    padding-top: 10px;
    width: 95%;
    margin: 0px auto;
    color: limegreen;
    font-size: 1.4em;
}
section article fieldset{
    width: 98%;
    border: 2px solid limegreen;
    margin: 0 auto;
    
}
section article fieldset legend{
    text-align: center;
    font-size: 1.4em;
    color: limegreen;
}
section article fieldset form button #edit{
    display: none;
}
section article fieldset form button{
    margin:20px 0 10px 32.5%;
    margin-top: 20px;
    width: 35%;
    display: inline-block;
    background-color: limegreen;
    color:  #1a5ad4;
    
}
section article fieldset form p{
    margin-left: 5%;
    width: 30%;
    display: inline-block;
    float: left;
    clear: both;  
    color: limegreen;
    font-size: 1.4em;
}
section article fieldset form input{
    width: 55%;
    margin-top: 15px!important;
    font-size: 1.4em;
    margin-left: 5%;
    padding: 5px;
}

.errorpass{
    clear: both;
    width: 100%!important;
    color: darkred;
    text-align: center;
    margin-left: 0!important;
    font-size: 1.2em;
}
.editar{
    font-size: 1.5em;
    color: #1a5ad4;
}
#lys{
    background-color: antiquewhite!important;
    height: 30px;
}
#logout {
    width: 20%;
    background-color: #1a5ad4;
    padding: 2px;
    text-align: center;
    float: right;
    list-style-type: none;
    margin-top: -4px;
    height: 30px;
}
@media (min-width: 980px) {
    header{
        float: left;
        width: 100%;
    }
    #lys {
        width: 8%!important;
        height: 40px;
        text-align: right;
        float: left;
        margin-top: 20px;
        background-color: limegreen!important;
    }
    #lys #lang{
      width: 100%;
    }
    #lys #lang ul{
        width: 90%;
        float: right;
        margin-right: 10%;
        padding-top: 0;
    }
    #saludo{
        display: none!important;
    }
    #sep2{
        width: 92%;
        margin-top: 20px;
        clear: both;
        height: 40px!important;
        background-color: limegreen!important;
        float: left;
    }
    section{
        width: 70%;
        margin: 0 auto;
        border-bottom: 5px solid antiquewhite;
        border-top: 5px solid antiquewhite;
        clear: both;
    }
    section #text{
        border-top: none;
    }
    section #text p{
        text-align: center;
    }
    section #pass p{
        margin: 20px 0 0 7%;
    }
    section #pass input{
       margin-left: 0; 
    }
    section #pass button{
        margin: 10px 0 10px 77%;
        width: 15%;
        font-size: 1.2em;
    }
}
