section{
    background-color: antiquewhite;
    overflow: hidden;
    border-top: 2px solid antiquewhite;
}
section article{
    text-align: center;
    background-color: antiquewhite;
    
}
section article h1{
    font-size: 1.4em;
    color: rgb(5, 137, 25);
    font-weight: 900;
}
section article ul li{
     list-style-type: none;
}
section article ul #noproyects a{
    text-decoration: none;
    color: rgb(5, 137, 25);
    font-size: 1.3em!important;
    pointer-events: none!important;
    cursor: default!important;
}
section article ul li a{
    text-decoration: none;
    color: rgb(5, 137, 25);
    font-size: 1.3em!important;
    font-weight: 900;
}
.icono{
    margin-left: 5px;
    font-size: 1.5em;
    color: rgb(5, 137, 25)!important;
}
.arriba{
    transform: rotate(-180deg);
    transition: 0.5s all;
}
.abajo{
    transition: 0.5s all;
}
.oculto{
    display: none;
}

@media (min-width: 980px) {
    section{
        width: 70%;
        margin: 0 auto;
        border-bottom: 4px solid antiquewhite;
    }
    section #cursoA{
        width: 50%;
        float:left;
        display: block;
        clear: left;
    }
    section #cursoA #curso, section #cursoB #curso{
        padding: 10px 0;
    }
        section #cursoB{
        width: 50%;
        float:right;
        display: block;
        clear: right;
    }
    section #proyectos{
        width: 100%;
    }
}