/* Inicio estilos menu CPANEL */

nav{
    margin-bottom: 2px; 
}

nav#nav1{
    margin-top: 2px;
}
#pc{
    display: none;
}
#navAlum a{
    width: 50%;
}

#adduser #textoenr{
    width: 95%;
    margin: 10px auto;
}
#fotosindex #idioma{
    width: 80%;
    margin: 5px 10%;
    font-size: 1.3em;
}
 .imagen{
    width: 150px!important;
}
/*panel admin*/
.icon-bar2 a {
    text-decoration: none;
    float: left; 
    text-align: center; 
    width: 25%; 
    padding: 5px 0; 
    transition: all 0.3s ease; 
    color: limegreen; 
    font-size: 20px; 
}
.icon-bar3 a {
    text-decoration: none;
    float: left; 
    text-align: center; 
    width: 50%; 
    padding: 5px 0; 
    transition: all 0.3s ease; 
    color: limegreen; 
    font-size: 20px;
}
/*parte de borrar comentarios*/
#comentarios{
    padding-top: 10px;
}
#comentarios fieldset{
    padding:10px 0;
}
#comentarios fieldset table{
    border: none;
    border-collapse: collapse;
}
#comentarios fieldset table tr td{
    color: limegreen;
}
.coments{
    border: none!important;
}
.botontabla{
    width: 15%;
}
.combutton{
    width: 50%!important;
    margin:auto 0 auto 42.5%!important;
    display: block;
    background-color: limegreen;
}
.edicion3{
    font-size: 1.7em;
    color: darkred;
    
}
/*resto de panels*/
.icon-bar, .icon-bar2, .icon-bar3 {
    width: 100%; 
    background-color: #1a5ad4; 
    overflow: auto; 
}
.icon-bar a {
    text-decoration: none;
    float: left; 
    text-align: center; 
    width: 33.3%; 
    padding: 5px 0; 
    transition: all 0.3s ease; 
    color: limegreen; 
    font-size: 20px; 
    
}
.icon-bar a#enlace1, .icon-bar a#enlace2, .icon-bar2 a#enlace1, .icon-bar2 a#enlace2, .icon-bar3 a#enlace1, .icon-bar3 a#enlace2{
    width: 50%;
}

.icon-bar a:hover,.icon-bar2 a:hover,.icon-bar3 a:hover{
    background-color: #535353; 
    color: limegreen;
}

.icon-bar a.active,.icon-bar2 a.active, .icon-bar3 a.active{
    background-color: limegreen; 
    color: #1a5ad4;
}

nav.oculto{
    display: none;
    
}

.icon-bar a span,.icon-bar2 a span,.icon-bar3 a span {
    display: none;
}

.icon-bar a i.ico, .icon-bar2 a i.ico, .icon-bar3 a i.ico{
    font-size: 1.9em;
}
#adduser, #usermod, #userdel, #user2proy, #userdelproy, #addcourse, #coursemod, #addproy,#proydel,#proypublic,#proyNOpublic,#proyedit, #fotosindex, #commentarioscpanel{
    margin: 0px;
    width: 100%;
    background-color:#1a5ad4; 
    padding-bottom: 10px;
    
}
#adduser fieldset, #usermod fieldset, #userdel fieldset, #user2proy fieldset, #userdelproy fieldset, #addcourse fieldset, #coursemod fieldset, #addproy fieldset, #proydel fieldset, #proypublic fieldset,#proyNOpublic fieldset,#proyedit fieldset, #fotosindex fieldset, #commentarioscpanel fieldset {
    width: 98%;
    margin: 0px auto;
    border: 2px solid limegreen;
    margin-bottom: 10px;
}
#adduser fieldset legend, #fotosindex fieldset legend, #usermod fieldset legend, #userdel fieldset legend, #user2proy fieldset legend, #userdelproy fieldset legend, #addcourse fieldset legend, #coursemod fieldset legend, #addproy fieldset legend, #proydel fieldset legend, #proypublic fieldset legend,#proyNOpublic fieldset legend,#proyedit fieldset legend,#actual legend, #commentarioscpanel fieldset legend {
    font-size: 1.3em;
    color: limegreen;
    text-align: center;
}
#adduser>fieldset >form>p, #usermod fieldset>form>p, #userdel>fieldset>form>p, #user2proy>fieldset>#pc>form>p, #user2proy>fieldset>#movil>form>p #userdelproy>fieldset>form>p,#addcourse>fieldset>form>p, #coursemod>fieldset>form>p, #addproy>fieldset>form>p, #proydel>fieldset>form>p,#proyedit>fieldset>form>p, #commentarioscpanel fieldset>form>p{
    color: limegreen;
    font-size: 1.3em;
    margin-top: 5px;
    margin-left: 5%;
    width: 35%;
    display: inline-block;
    float: left;
    clear: both;
}
#selecproy{
    color: limegreen;
    font-size: 1.3em;
    text-align: center;
}
#selecproyecto{
    margin-left: 10%;
    float: left;
}
#selectbumv{
    margin: 5px 0 20px 5%!important;
    height: 35px!important;
}
#usermod fieldset #selectuser, #userdel fieldset #selectuser, #coursemod fieldset #selectcourse, #proydel fieldset #selectuser, #commentarioscpanel fieldset #selectuser,#user2proy fieldset #imvproy {
    width: 80%;
    text-align: center;
}
#user2proy fieldset #imvproy{
    margin: 0 10%;
}
#mvselectproy{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: limegreen;
}
#adduser fieldset input,#adduser fieldset select,#usermod fieldset select,#usermod fieldset input, #userdel fieldset select, #user2proy fieldset select, #userdelproy fieldset select, #addcourse fieldset input, #coursemod fieldset form input, #proyadd fieldset form input, #addproy fieldset input,#proyedit fieldset select,#proyedit fieldset input, #coursemod fieldset form select, #addproy fieldset form select{
    width: 55%;
    margin-top: 5px; 
    font-size: 1.4em;
}
#usermod fieldset #iusu,#userdel fieldset #iusu, #coursemod fieldset #iusu, #proydel fieldset #iusu, #usermod fieldset #idproyAd, #commentarioscpanel fieldset #idproyAd{
    width: 60%;
    float: left;
    margin:5px 0 10px 5%;
    text-align: center;
    font-size: 1.4em;
}

#proypub ul li, #proyNOpub ul li, #adduser #actual ul li{
    text-align: center;
    list-style-type: none;
}

a#proyprof{
    width: 98%!important;
    color: limegreen;
    text-decoration: none;
    //text-align: center!important;
    font-size: 1.4em;
    margin: 5px auto 5px!important;
}

#error{
    width: 98%!important;
    color: darkred!important;
    text-align: center!important;
    font-size: 1.4em;
    margin: 5px auto 0!important;
    display: block;
}
#adduser fieldset form button #edit, #fotosindex fieldset form button #edit, #usermod fieldset form button #edit, #userdel fieldset form button #edit, #addcourse fieldset form button #edit, #adduser fieldset form button #edit, #coursemod fieldset form button #edit, #addproy fieldset form button #edit, #proydel fieldset form button #edit{
    display: none;
}
#adduser fieldset form button, #usermod fieldset form button, #fotosindex fieldset form button, #userdel fieldset form button, #user2proy fieldset form button , #userdelproy fieldset form button, #addcourse fieldset form button, #coursemod fieldset form button, #addproy fieldset form button, #proydel fieldset form button,#proyedit fieldset button , #btnborrar, #commentarioscpanel fieldset form button{
    height: 30px;
    width: 20%;
    background-color: limegreen;
    margin: 10px 5% 10px 75%;
    cursor: pointer;
}

#selectbu, #btnprofe{
    margin: 5px 0 10px 5%!important;
    height: 33px!important;
}

#btnprofe1, #btnprofe2{
   margin: 10px 0px!important;
}

#btnprofe1{
    margin-left: 54.5%!important;
}

.edicion{
    font-size: 1.5em;
    color: #1a5ad4;
    
}
.edicion2{
    font-size: 1.5em;
    color: darkred;
    
}
.imgtemp{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    width: 40%;
    clear: both;
}
.textfoto{
word-break: break-all!important;
width: 50%!important;
margin-left: 3%!important;
 color: limegreen;
 font-size: 1.3em;
 margin-top: 20px;
display: inline-block;
float: left;
}
.arriba{
    transform: rotate(-180deg);
    transition: 0.5s all;
}
.abajo{
    transition: 0.5s all;
}
#textImg{
    width: 100%;
    display: block;
}
 #textImg .textImg{
    display: block;
    width: 50%;
    float: left;
    text-align: center;
     margin-bottom: 10px;
     font-size: 1.2em;
     color: limegreen;
}
.coments .textocom{
    width: 70%;
    float: left;
    clear: both;
    text-align: center;
}
.coments .textocom p{
    font-size: 1.3em;
    color: limegreen;
}
.coments .textocom h2{
    color: limegreen;
}
.coments .buttoncom{
    width: 30%;
    float: left;
}
/*Parte de redactar e imagenes alumnos*/
.oculto{
    display: none;
}
#actual .idioma{
    text-align: right;
    width: 60%!important;
    font-size: 1.4em;
    color: limegreen;
    margin: 0;
}
#actual{
    border: 2px solid limegreen;
}
#fotosact table{
    width: 90%;
    margin: 10px auto;
}
#fotosact table tr td{
    background-color: antiquewhite;
    width: 50%;
}
#fotosact table td p{
    word-break: break-all!important;
}

#fotodel>form>p{
    width: 100%!important;
    margin: 0px!important;
}
#delfotos option p{
    word-break: break-all!important;
}
/* Fin estilos menu CPANEL */
/* Inicio estilos Graficos CPANEL */

section #grafics{
    text-align: center;
    width: 100%;
    margin: 0px 0 20px 0;
}
div#piechart_3d, div#piechart_3d2{
    width: 350px; 
    
}
/* Fin estilos Graficos CPANEL */
/* Inicio estilos barra progresiva CPANEL */

#myProgress {
  width: 80%;
  background-color: limegreen;
  margin: 20px auto 30px;
}
#myBar {
    width: 0%;
    height: 20px;
    background-color: #1a5ad4;
    text-align: center; 
    line-height: 20px; 
    color: white; 
}

.ocul{
    display: none;
}

#titbar, #textbar{
    text-align: center;
    margin: 10px;
}

#titbar>span, #textbar>span{
    color: #1a5ad4;
    font-size: 1.2em;
    font-weight: bold;
}
tbody{
    border: 2px solid #1a5ad4;
}
#tabladatos{
    width: 90%;
    display: block;
    margin: 10px auto;
}
.tabla{
    display: block;
    border-collapse: collapse;
}
th {
    background-color: limegreen;
    color: #1a5ad4;
    width: 33%;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
}
#tabladatos table tr td a{
    text-decoration: none;
    color: #1a5ad4;
}
td{
    color: #1a5ad4;
    width: 33%;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

/*Inicio toogle de eliminar usuario*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Fin toogle de eliminar usuario*/

/*Inicio estilos para los botones del select multiple*/

#suma,#sumaAll,#resta,#restaAll{
    height: 30px;
    width: 25%;
    background-color: limegreen;
    cursor: pointer;
    color: #1a5ad4;
    font-weight: bold;
}

#suma{
    margin: 10px 0.5% 0px 43.5%;
}

#resta{
    margin: 10px 0.5% 10px 43.5%;
}

/*Fin estilos para los botones del select multiple*/

@media (min-width: 980px) {
    
    div#piechart_3d, div#piechart_3d2{
        width: 30%; 
        display: inline-block;
        float: left;
    }
    #movil{
        display: none;
    }
    #user2proy fieldset form button , #userdelproy fieldset form button{
    margin: 10px 5% 10px 70%!important;
    }
    div#piechart_3d{
        margin-left:20%;
        margin-right: 10%;
    }
    #movil{
        display: none;
    }
    #pc{
        display: block;
    }
    #myProgress {
          width: 50%;
    }
    .icon-bar a span, .icon-bar2 a span, .icon-bar3 a span{
        display: inline;
        margin: 10px;
        font-size: 1.2em;
        text-decoration: none;
    }
    #tabladatos{
        width: 100%;
        display: block;
        margin: 30px;
        clear: both;
    }
    .tabla{
        width: 100%;
    }
    tbody{
        width: 660px;
        display: block;
        margin-left: 19%;
    }
    th {
    width: 220px;
    }
    #adduser, #usermod, #userdel, #addcourse, #coursemod, #addproy, #proydel, #commentarioscpanel, #proypublic, #proyNOpublic, #proyedit {
        width: 60%;
        margin: 0 auto;
        border-bottom: 5px solid antiquewhite;
    }
    #adduser fieldset form p, #usermod fieldset form p, #addcourse fieldset form p, #coursemod fieldset form p,#addproy fieldset form p{
        width: 20%;
        margin-right: 4.5%;
        margin-left: 8%;
        text-align: right;
    }
    #adduser fieldset form button, #usermod fieldset form button, #addcourse fieldset form button, #coursemod fieldset form button, #addproy fieldset form button{
        margin:10px 12.5% 10px 67.5%;
    }
    #selectuser, #selectcourse{
        text-align: left!important;
        margin-left: 5%!important;
    }
    #fotosindex{
        width: 90%;
        margin: 0 5%;
        float: left;
        border-bottom: 5px solid antiquewhite;
    }
    #fotosindex #fotosact{
        width: 49%;
        float:left;
        margin-left: 0.5%;
    }
    #fotosindex #idioma{
    width: 30%;
    font-size: 1.3em;
    margin: 5px 35%;
}
    #proyedi p{
        margin-left: 0px!important;
        padding-left: 10%;
    }
    #proyedi #buttonedicion{
        margin: 10px 10% 10px 70%!important;
    }
    #proyedi #btnprofe1{
        margin-left:49.5%!important;
    }
    #fotosindex #fotosub, #fotosindex #fotodel{
        clear: right;
        width: 49%;
        float: right;
        margin-right: 0.5%;
    }
    .coments p{
        width: 100%;
        display: block;
    }
    .coments{
        width: 100%;
        display: block;
    }
    #fotosindex tbody{
        width: 100%;
        margin-left: 1%;
        border-bottom: 0px;
    }
    #fotosindex  tbody th,#fotosindex tbody td, #fotosindex tbody tr {
    border-bottom: none!important;
        
    }
    #fotosindex tbody td p{
        font-size: 1.5em!important;
    }
    .coments{
        width: 98%;
        margin: 0 auto;
        display: block;
    }
    .imagen{
        width: 250px!important;
    }
    #comentarios{
        width: 100%;
        display: block;
    }
    #user2proy{
        width: 70%;
        margin: 0px auto;
        border-bottom: 5px solid antiquewhite;
    }
    #user2proy #selectproy,  #user2proy #selectuser{
        padding-left: 10%;
        margin-left: 0px!important;
        font-size: 1.5em!important;
    }
    /*Inicio estilos para los botones del select multiple*/
    
    #suma,#sumaAll,#resta,#restaAll{
        width: 20%;
    }
        
    #suma{
        margin: 10px 0.5% 0px 49.2%;
    }

    #resta{
        margin: 10px 0.5% 10px 49.2%;
    }

    /*Fin estilos para los botones del select multiple*/

}
@media (min-width: 1125px) {
    
    #fotosindex tbody{
        width: 90%;
    }
    tbody{
        width: 798px;
        display: block;
        margin-left: 17.5%;
    }
    th {
    width: 266px;
    }
}@media (min-width: 1500px) {
    tbody{
        width: 798px;
        display: block;
        margin-left: 20%;
    }
}