footer{
    text-align: center;
    background-color: rgb(5, 137, 25);
    height: 30px;
    clear: both;
}
footer article{
    width: 50%;
    float: left;
     background-color: rgb(5, 137, 25);
}
footer article ul li{
    display: inline-block;
}
footer article ul li a, footer article p{
    font-size: 1.5em;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: 900;
}
footer #dyl{
    display: none;
}
#pcfooter{
    display: none;
}
@media (min-width: 900px) {
    footer #redes{
        clear: both;
    }
    footer #dyl{
        display: block;
        width: 100%;
        color: white;
        margin-top: -2px;
        clear: both;
    }
    footer #dyl #localizacion{
        border-right: 3px solid cadetblue;
    }
    footer #dyl #localizacion, footer #dyl #dp{
        width: 50%;
        float: left;
        background-color: rgb(5, 137, 25);
        height: 320px;
        padding-top: 10px;
        border-bottom: 2px solid cadetblue;
        border-top: 2px solid cadetblue;
        
    }
    footer #dyl #dp h1, footer #dyl #dp p{
        text-align: left;
        margin-left: 20%;
        padding-bottom: 5px;
        
    }
    #movilfooter{
        display: none;
    }
    #pcfooter{
        display:inline-block;
    }
    #pcfooter img{
        width: 70%;
    }
}
