/*Perfil*/
section fieldset figure{
    width: 50%;
    margin: 5px auto;
}
section fieldset{
    border: 2px solid rgb(5, 137, 25);
    padding-bottom: 10px;
    width: 98%;
    margin: 0 auto;
}
section #perfil{
    border: none;
    padding-bottom: 0;
    width: 100%;
}
section fieldset legend{
    font-size: 1.3em;
    color: rgb(5, 137, 25);
    text-align: center;
    font-weight: 900;
}
section #dp legend{
    color: rgb(5, 137, 25);
}
section fieldset figure figcaption{
    display: none;
}
section fieldset figure img{
    width: 100%;
    border-radius: 80px;
    border: 5px solid rgb(5, 137, 25);
    max-height: 250px;
} 
section fieldset article{
    background-color: antiquewhite;
    padding-bottom: 10px;
}
section fieldset article label, section fieldset article p{
    color: rgb(5, 137, 25);
    font-size: 1.4em;
    margin-top: 5px;
    font-weight: 900;
    
}
section fieldset article p{
    width: 85%;
    margin-left: 10%;
    word-break:break-all;
}
section fieldset article button{
    background-color: rgb(5, 137, 25);
    font-size: 1.2em;
    width: 15%;
    margin:5% 5% 5% 80%;
    text-align: center;
}
section fieldset article button #edit{
    display: none;
}
.editar{
    font-size: 1.7em;
    padding: 5px;
    color: white;
    font-weight: inherit;
    
}
/*Editar Perfil*/
#fotoperfilpc{
    display: none;
}
.cancel{
    font-size: 1.7em;
    color: darkred;
    padding: 3.5px;
}
section fieldset article #buttonsyc button #edit{
    display: none;
}
section fieldset article #fotoperfil #movil form input[type='file']{
    opacity: 0;
    width: 20%;
    z-index: 1;
    float: left;
    height: 40px;
    position: relative;
    left: 2.5%;
}
#pc{
    display: none;
}
section fieldset article #fotoperfil #pc{
    display: none;
}
#buttonfot{
    left: 2.5%;
    width: 20%;
    height: 40px;
    display: inline-block;
    margin:0!important;
    z-index: 1;
    position: absolute;
}
#buttonsbr{
    position: absolute;
    margin:0!important;
    left: 27.5%;
    z-index: 1;
    width: 20%;
    height: 40px;
}
#buttonre{
    width: 20%;
    height: 40px;
    margin:0!important;
    position: absolute;
    left: 77.5%;
}
#buttoncan{
    width: 20%;
    height: 40px;
    left:52.5%;
    margin:0!important;
    position: absolute;
}
#error{
    margin: 0px !important;
    width: 100%!important;
    color: Darkred;
    clear: both;
    text-align: center;
    font-weight: 900;
}
section fieldset legend{
    font-size: 1.3em;
    color: color: rgb(5, 137, 25);;
    text-align: center;
    margin-left: 10%;
}
section #perfil  article #fotoperfil,section #perfil  article #datosperfil{
    margin-bottom: 10px;
}
section #perfil #datosperfil p {
    margin-left: 5%;
    width: 35%;
    display: inline-block;
    float: left;
    clear: both;
}
section #perfil #datosperfil input,section #perfil #datosperfil select{
    width: 55%;
    margin-top: 5px;
    font-size: 1.4em;
}
section #perfil article #datosperfil form #buttonsyc  {
padding: 20px 0;
    width: 100%;
}
#dp, #propar{
    width: 98%;
    border: 2px solid rgb(5, 137, 25);
}
#propar a{
    text-decoration: none;
    color: rgb(5, 137, 25);
}
section #perfil article #datosperfil form #buttonsyc  button{
    margin:0 0 0 10%;
    width: 35%;
    display: inline-block;
} 
section #perfil #pass input{
    width: 55%;
    margin-top: 30px;
    font-size: 1.4em;
}
section #perfil #pass p{
    margin-left: 5%;
    width: 34%;
    display: inline-block;
    float: left;
    clear: both;
}
section #perfil #pass button{
    margin:20px 0 0 32.5%;
    width: 35%;
    display: inline-block;
}
section #perfil #separar{
    height: 10px;
    background-color: antiquewhite;
}
#separar2{
    display: none;
}
.errorpass{
    clear: both;
    width: 100%!important;
    color: darkred;
    text-align: center;
    margin-left: 0!important;
    font-size: 1.2em;
}
@media (min-width: 986px) {
    #separar2{
        display: block;
        width: 100%;
        height: 2px;
        background-color: antiquewhite;
    }
    section{
        background-color: antiquewhite;
        width: 75%;
        margin: 0px auto;
        border-bottom: 4px solid antiquewhite;
    }
    section #perfil figure{
        float: left;
        margin:50px;
        width: 210px;
        height: 210px;
    }
        section #perfil article{
        width: 60%;
        clear: none;
        float: left;
    }
    section #perfil .editandoperfil{
        float: left;
        width: 60%;
        clear: none;
        margin-top: -276px;
        margin-left: 10px;
    }
    section #perfil article #dp, section #perfil article #propar{
        margin: 5px 10%;
        width: 80%;
        float: left;
    }
    #separar{
        display: none;
    }
    section fieldset #fotoperfilpc{
        width: 290px;
        clear: both;
        margin-left: 10px;
        height: 300px;
        margin-right: 0;
        display: inline-block;
        float: left;
    }
    
    #fotoperfil{
        display: none;
    }
    #movil{
        display: none;
    }
    #pc{
        display: block;
    }
    section fieldset  #fotoperfilpc #pc form input[type='file']{
        opacity: 0;
        top: -40px;
        width: 270px;
        height: 40px;
        z-index: 1;
        position: relative;
    }
    #buttonfot{
    width: 270px;
    height: 40px;
    display: inline-block;
    margin:0!important;
    z-index: 0;
    position: relative;
}
    #buttonsbr{
    position: relative;
    margin:0!important;
    z-index: 1;
    width: 270px;
    height: 40px;
    left:7px;
    top: -20px;
}
    #buttoncan{
    width: 270px;
    height: 40px;
    left:7px;
    margin:0!important;
    position: relative;
}
    #buttonre{
    width: 270px;
    height: 40px;
    margin:0!important;
    position: relative;
    left: 7px;
        top: 15px;
    }
    #buttoncan{
    width: 270px;
    height: 40px;
    left:7px;
    margin:0!important;
    position: relative;
}
    section #fotoperfilpc button{
    background-color: rgb(5, 137, 25);;
    font-size: 1.2em;
    margin:5% 5% 5% 80%;
    text-align: center;
   
}
    #error{
    margin: 0px !important;
    top: 25px;
    width: 100%!important;
    color: darkred;
    clear: both;
    text-align: center;
    position: relative;
    font-size: 1.3em;
}
.errorpass{
    clear: both;
    width: 100%!important;
    color: darkred;
    text-align: center!important;
    margin: 5px auto!important;
    font-size: 1.2em;
}
section #perfil #pass button{
    margin:0px 0 0 32.5%;
    width: 35%;
    display: inline-block;
}
    section #perfil #pass input{
    width: 80%;
    font-size: 1.4em;
    margin: 30px auto 0 auto;
    display: block;
}
    section #perfil #pass p{
    margin:0 40% 0 10%;
    width: 50%;
    display: block;
    text-align: left;
}
    section #perfil #pass{
        height: 300px;
        margin-top: -2.5px;
    }

